{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}   
/* aqui se carga el formulario de registro*/
  <main >
    <div class="container-fluid">
      <div class="container">      
          <div class="col-md-6 mx-auto cf-container">
              <div class="form-row row">
                <div class="col-md-8 text-center">
                  <h3>Registro de Users</h3>
                      <hr>
                      <form action="" method="POST"> 
                        <spam class="text-primary">
                          <small>     
                            {% csrf_token %}
                            {{ form }}
                          </small>
                        </spam>
                            <a href="{% url 'index' %}" class="text-danger"><small> Ir al home</small></a>"
                            <a href="{% url 'login' %}" class="text-danger"><small> Iniciar sesión</small></a>"
                            
                            <input type="submit" value='Ingresar'  class="btn btn-success float-right">
                      </form>            
                </div>
                      
              </div>
          </div>
      </div>
    </div>
  </main>
  <br> <br>
{% endblock %}
